
<h1><%= "Welcome!"%></h1>
<h3><%= "Please #{@user.nil? ? 'create' : 'edit'}  your profile here!"%></h3>

<%= form_tag(@user.nil? ? userssignup_path : saveuserprofile_path, method: "post") do %>
 <!-- render 'shared/error_messages.html.erb'//-->
  <div class="field">
    <%= label_tag 'name'%><br>
    <%= text_field(:user, :name) %><br>
  </div>
  <div class="field">
    <%= label_tag 'firstname'%><br>
    <%= text_field(:user, :firstname) %>
  </div>
  <div class="field">
    <%= label_tag 'email'%><br>
    <%= email_field(:user, :email) %><br>
  </div>
  <div class="field">
    <%= label_tag 'bio'%><br>
    <%= text_field(:user, :bio) %><br>
  </div>
  <div class="field">
    <%= label_tag 'password'%><br>
    <%= password_field(:user, :password) %><br>
  </div>
  <div class="field">
    <%= label_tag 'confirmation'%><br>
    <%= password_field(:user, :password_confirmation) %><br>
  </div>
  <div class="actions">
    <%= submit_tag(@user.nil? ? "Sign up" : "Update") %>
  </div>

<% end %>
