<h1><%= title %></h1>
<%= form_tag(userssignup_path, :method => 'post', :multipart => true) do %>
  <div class="field">
    <%= label_tag 'name'%><br>
    <%= text_field_tag 'name' %><br>
  </div>
  <div class="field">
    <%= label_tag 'email'%><br>
    <%= text_field_tag 'email' %><br>
  </div>
  <div class="field">
    <%= label_tag 'bio'%><br>
    <%= text_field_tag 'bio' %><br>
  </div>
  <div class="field">
    <%= label_tag 'password'%><br>
    <%= password_field_tag 'password' %><br>
  </div>
  <div class="field">
    <%= label_tag 'password confirmation'%><br>
    <%= password_field_tag 'password_confirmation' %><br>
  </div>
  <div class="actions">
    <%= submit_tag "Sign up" %>
  </div>

<% end %>
